body {
    margin: 0;
    padding: 0;
    color: #000;
    background-color: #f1f1f1;
    font-family: "Raleway", Arial, sans-serif
}

header {
    display: block;
    top: 0;
    width: 90%;
    height: auto;
    margin: auto;
    padding: 24px 16px;
}

header a {
    color: #000;
    padding: 8px 16px;
    font-size: 24px;
    font-weight: lighter;
    text-decoration: none;
    display: inline-block;
}

header a:nth-child(2) {
    float: right;
}

header a:hover {
    background-color: rgb(177, 177, 177);
    border: none;
    cursor: pointer;
}

#images {
    display: flex;
    width: 90%;
    /* width: calc(100% - 24px); */
    height: auto;
    margin: auto;
}

#images .col {
    display: grid;
    width: 50%;
}

#images .col img {
    width: 100%;
    height: auto;
}

#about {
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
}

#about h2 {
    font-size: 30px;
    font-weight: normal;
}

#about img {
    padding: 32px 0px;
    width: 300px;
}

#about p {
    width: 60%;
    margin: auto;
}

#contact {
    text-align: center;
    width: 60%;
    margin: auto;
}

#contact p {
    color: red;
    margin: auto;
    margin-top: 18px;
    margin-bottom: 18px;
}

.row {
    width: 100%;
    margin-top: 16px;
    margin-bottom: 16px;
}

.row input {
    border: 1px solid #ccc !important;
    padding: 8px;
    display: block;
    width: 100%;
}

#contact button {
    display: block;
    width: 100%;
    background-color: #616161 !important;
    border: none;
    padding: 8px 16px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    font-size: medium;
}

#contact button:hover {
    background-color: #9e9e9e !important;
    color: #000;
}

footer {
    width: 100%;
    margin: auto;
    margin-top: 24px;
    margin-bottom: 54px;
    text-align: center;
}

@media (max-width: 1515px) {
    #images {
        width: 100%;
    }
}

@media (max-width: 600px) {
    #images {
        width: 100%;
    }

    #images .col {
        width: 100%;
    }
}

